#post-container .post {
  margin-top: 10px;
  min-height: 150px;
  width: 800px;
  padding: 20px;
  background-color: #fff;
  padding-bottom: 25px;
  border-bottom: 1px solid rgb(203, 204, 203);
}

#post-container .post .post-header {
  display: flex;
  align-items: center;
}

#post-container .post .post-header img {
  height: 50px;
  width: 50px;
  margin-right: 10px;
  border: 1px double grey;
  border-radius: 25px;
  margin-bottom: 10px;
}

#post-container .post .post-header .post-author {
  display: flex;
  flex-direction: column;
}
#post-container .post .post-header .post-author .post-author-name {
  font-size: 15px;
  font-weight: 700;
}
#post-container .post .post-header .post-author .post-date {
  font-weight: 200;
  color: grey;
}
